@font-face {
    font-family: "logo-fonts";
    src: url(../../assets/fonts/Shalimar-Regular.ttf);
}
@font-face {
    font-family: "title-fonts";
    src: url(../../assets/fonts/RockSalt-Regular.ttf);
}
@font-face {
    font-family: "main-fonts";
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "error-fonts";
    src: url(../../assets/fonts/RubikVinyl-Regular.ttf);
}