@import "../2.Utils/variables";
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: "main-fonts";
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
input[type = "file"] {
    display: none;
}
.check {
    color: $primary-color;
}
.times {
    color: $tertiary-color;
}
.fake-margin-replacing-header {
    width: 100%;
    height: 100px;
}
