.home {
    &__content {
        padding: 50px;
        &__header {
            position: relative;
            gap: 20px;
            width: calc(100% - 60px);
            padding: 30px;
            border-radius: 15px;
            @include flexBetween;
            &__profile-division {
                position: relative;
                left: -20px;
                height: 100px;
                display: flex;
                align-items: center;
                gap: 15px;
                @include flexCenterY;
                &__img-container {
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    overflow: hidden;
                    @include flexFullCenter;
                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
            
        }
        &__main {
            width: 100%;
            @include flexColumnCenterX;
        }
        &__posts-division {
            width: 45%;
            gap: 15px;
            @include flexColumnCenterX;
        }
    }
    
}