.home {
    &__content {
        padding: 50px;
        &__header {
            position: relative;
            gap: 20px;
            width: calc(100% - 60px);
            padding: 30px;
            border-radius: 15px;
            margin-bottom: 15px;
            @include flexBetween;
            &__intro-and-btn-area {
                width: 35%;
                position: relative;
                @include flexColumnBetween;
            }
            &__profile-division {
                height: 100px;
                width: 100%;
                gap: 15px;
                @include flexCenterY;
                h1 {
                    font-size: 32px;
                }
                &__img-container {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    overflow: hidden;
                    @include flexFullCenter;
                    img {
                        height: 185px;
                        width: 185px;
                    }
                }
            }
            &__globe-area {
                width: 65%;
                text-align: right;
            }
        }
        &__main {
            width: 100%;
            @include flexColumnCenterX;
        }
        &__posts-division {
            width: 45%;
            gap: 15px;
            @include flexColumnCenterX;
        }
    }
    
}