.profile-section {
    min-height: 100vh;
    &__header {
        position: relative;
        margin-bottom: 35px;
        @include flexCenterX;
        &-background {
            @media screen and (min-width: 1025px) {
                width: 90%;
            }
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            position: relative;
            height: 50vh;
            overflow: hidden;
            @include flexCenterX;
            img {
                @media screen and (min-width: 1025px) {
                    transform: translateY(-30%);
                }
                @media screen and (max-width: 1024px) {
                    height: 100%;
                }
                position: absolute;
                width: 100%;
            }
            &__buttons-area {
                @media screen and (min-width: 1025px) {
                    width: 80px;
                }
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    width: 65px;
                }
                @media screen and (max-width: 767px) {
                    width: 50px;
                }
                position: absolute;
                right: 0px;
                top: 0px;
                height: calc(100% - 40px);
                padding: 20px;
                @include flexColumn;
                align-items: center;
                span {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    @include flexFullCenter;
                    background-color: $primary-color;
                    position: absolute;
                    opacity: 0;
                    transform: translateY(0);
                    transition: 0.3s ease-in-out;
                    &:first-of-type.active {
                        transform: translateY(110px);
                        opacity: 1;
                    }
                    &:last-child.active {
                        transform: translateY(180px);
                        opacity: 1;
                    }
                    svg {
                        color: $clr-1;
                    }
                } 
                label {
                    @media screen and (min-width: 1025px) {
                        width: 80px;
                        height: 80px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 1024px) {
                        height: 65px;
                        width: 65px;
                    }
                    @media screen and (max-width: 767px) {
                        height: 50px;
                        width: 50px;
                    }
                    opacity: 0.3;
                    border-radius: 80px 10px 80px 80px;
                    border:  2px solid $tertiary-color;
                    background-color: $tertiary-color;
                    @include flexFullCenter;
                    &:hover {
                        opacity: 1;
                    }
                    svg {
                        color: $clr-1;
                        font-size: 30px;
                        @include standardTransi;
                    }
                }
            }
        }
        &__user-intro {
            @media screen and (min-width: 1025px) {
                width: calc(90% - 50px);
                height: 140px;
                bottom: 0;
            }
            @media screen and (max-width: 1024px) {
                width: calc(100% - 50px);
                height: 110px; 
                bottom: -2px;   
            }
            position: absolute;
            padding: 0px 25px;
            background: linear-gradient(0deg, $white-op9 1%, $white-op6 60%, $white-op3 99%);
            backdrop-filter: blur(2px);
            gap: 25px;
            @include flexBetweenCentered;
        }
        &__user-data {
            @media screen and (min-width: 768px) {
                @include flexCenterY;
            }
            @media screen and (max-width: 767px) {
                @include flexColumnCenter;
            }
            h2 {
                @media screen and (max-width: 767px) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 90px;
                    font-size: 15px;
                }
            }
        }
        &__profilePicture-container {
            @media screen and (min-width: 768px) {                
                height: 90px;
                width: 90px;
            }
            @media screen and (max-width: 767px) {                
                height: 70px;
                width: 70px;
            }
            border-radius: 50%;
            overflow: hidden;
            img {
                @media screen and (min-width: 768px) {                
                    height: 110px;
                    width: 110px;
                }
                @media screen and (max-width: 767px) {                
                    height: 90px;
                    width: 90px;
                }
                transform: translate(-10px, -10px);
            }
        }        
        &__buttons-container {
            gap: 10px;
            @include flexCenterY;
            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                @media screen and (max-width: 767px) {
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    @include flexFullCenter;
                }
                background-color: $primary-color;
                color: $secondary-color !important;
                border-color: $primary-color !important;
                gap: 5px;
                @include flexCenterY;
                @include standardTransi;
                &:hover {
                    background-color: transparent;
                    color: $tertiary-color !important;
                    border-color: $tertiary-color !important;
                }
                span {
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                svg {
                    @media screen and (max-width: 767px) {
                        font-size: 40px;
                    }
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 75%;
            height: 1px;
            background-color: $black-op2;
            left: 12.5%;
            bottom: -20px;
        }
        &__fake-btn {
            @media screen and (min-width: 768px) {                
                border-radius: 4px;
                padding: 8px 20px 7.5px;
                @include flexCenterY;
                @include standardTransi;
                &:hover {
                    color: $secondary-color;
                    background-color: $primary-color;
                    border-color: $primary-color;
                }
            }
            @media screen and (max-width: 767px) {
                height: 61px;
                width: 61px;
                border-radius: 50%;
                @include flexFullCenter;
            }
            border: 2px solid $tertiary-color;
            color: $tertiary-color;
            gap: 5px;
            margin-right: 15px;
            span {
                @media screen and (min-width: 768px) {
                    display: inline-block;
                }
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
            svg {
                @media screen and (max-width: 767px) {
                    font-size: 40px;
                }
            }
        }
    }
    &__navigation {
        @media screen and (min-width: 1025px) {
            padding: 0 100px;
            @include flexEndCenterY;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
            @include flexBetweenCentered;
            flex-wrap: wrap;
        }
        margin-bottom: 30px;
        position: relative;
        .css-1or64il-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
            border-color: $primary-color!important;
        }
        div button {
            @media screen and (min-width: 1025px) {
                width: 110px;
                font-size: 16px;
            }
            @media screen and (max-width: 1024px) {
                width: 20vw;
                font-size: 14px;
            }
            color: $primary-color;
            &:first-child::after {
                transform-origin: right;
            }
            &:nth-child(2)::after {
                left: 2px;
                transform-origin: center;
            }
            &:last-child::after {
                transform-origin: left;
            }
            &:hover::after {
                transform: scaleX(1);
            }
            &::after {
                content: "";
                width: calc(100% - 5px);
                height: 2px;
                background-color: $primary-color;
                position: absolute;
                bottom: 5px;
                transition: 0.3s ease-in-out;
                transform:  scaleX(0);
            }
        }
        &-bar {
            @media screen and (min-width: 1025px) {
                width: 110px;
                left: calc(100% - 650px);
                top: 32px;
            }
            @media screen and (max-width: 1024px) {
                width: 20vw;
                left: 0px;
                top: 29px;
            }
            height: 5px;
            background-color: $primary-color;
            position: absolute;
            transition: 0.2s ease-in-out;
        }
    }
    &__main-content {
        width: 100%;
        @include flexCenterX;
    }
}
