.profile-section {
    min-height: 100vh;
    &__header {
        position: relative;
        margin-bottom: 35px;
        @include flexCenterX;
        &-background {
            position: relative;
            width: 90%;
            height: 50vh;
            overflow: hidden;
            @include flexCenterX;
            img {
                position: absolute;
                transform: translateY(-30%);
                width: 100%;
            }
        }
        &__user-intro {
            position: absolute;
            padding: 0px 25px;
            width: calc(90% - 50px);
            height: 140px;
            background: linear-gradient(0deg, rgba(255,255,255,0.95) 1%, rgba(255,255,255,0.6) 60%, rgba(255,255,255,0.3) 99%);
            backdrop-filter: blur(2px);
            bottom: 0;
            gap: 25px;
            @include flexBetweenCentered;
        }
        &__user-data {
            @include flexCenterY;
        }
        &__profilePicture-container {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 110px;
                width: 110px;
                transform: translate(-10px, -10px);
            }
        }        
        &__buttons-container {
            gap: 10px;
            @include flexCenterY;
            .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
                background-color: $primary-color;
                color: $secondary-color !important;
                border-color: $primary-color !important;
                gap: 5px;
                @include flexCenterY;
                @include standardTransi;
                &:hover {
                    background-color: transparent;
                    color: $tertiary-color !important;
                    border-color: $tertiary-color !important;
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 75%;
            height: 1px;
            background-color: $black-low-op;
            left: 12.5%;
            bottom: -20px;
        }
        &__fake-btn {
            color: $tertiary-color;
            gap: 5px;
            margin-right: 15px;
            border: 1px solid $tertiary-color;
            border-radius: 4px;
            padding: 8px 20px 7.5px;
            @include flexCenterY;
            @include standardTransi;
            &:hover {
                color: $secondary-color;
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
    &__navigation {
        display: flex;
        padding: 0 100px;
        justify-content: flex-end;
        margin-bottom: 30px;
        position: relative;
        .css-1or64il-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
            border-color: $primary-color!important;
        }
        div button {
            font-size: 16px;
            color: $primary-color;
            width: 110px;
            &:first-child::after {
                transform-origin: right;
            }
            &:nth-child(2)::after {
                left: 2px;
                transform-origin: center;
            }
            &:last-child::after {
                transform-origin: left;
            }
            &:hover::after {
                transform: scaleX(1);
            }
            &::after {
                content: "";
                width: calc(100% - 5px);
                height: 2px;
                background-color: $primary-color;
                position: absolute;
                bottom: 5px;
                transition: 0.3s ease-in-out;
                transform:  scaleX(0);
            }
        }
        &-bar {
            width: 110px;
            height: 5px;
            background-color: $primary-color;
            position: absolute;
            top: 32px;
            left: calc(100% - 650px);
            transition: 0.2s ease-in-out;
        }
    }
    &__main-content {
        width: 100%;
        @include flexCenterX;
    }
}
