.signup-steps {
    height: 100vh;
    position: relative;
    &__background-img {
        width: 100%;
        height: 100vh;
    }
    &__content {   
        padding: 40px;
        position: absolute;
        width: calc(100% - 80px);
        height: 60vh;
        background-color: rgba(246, 248, 234, 0.7);
        top: 30vh;
        transform: translateY(-50%); 
        @include flexSpacedAndAlign;
        &__steps-indicator {
            gap: 50px;
            min-width: 320px;
            width: 20%;
            @include flexColumn;
        }
        &__step {
            border: 2px solid $primary-color;
            border-radius: 3px;
            padding: 15px 25px;
            display: flex;
            gap: 15px;
            &__icons-container {
                position: absolute;
                svg {
                    position: absolute;
                    font-size: 34px;
                    transform: translate(-18%, -18%);
                    transition: 0.4s;
                    z-index: 2;
                }
            }
            &__check-icon {
                opacity: 0;
                color: $primary-color;
            }
            &__times-icon {
                color: $tertiary-color;
                opacity: 0;
            }
            &-dot {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $primary-color;
            }
            p {
                color: $primary-color;
            }
        }
        &__form-container {
            width: calc(80% - 150px);
            max-width: 1120px;
            height: 100%;
            border-radius: 15px;
            padding: 10px 0;
            border: 3px solid $tertiary-color;
        }
    }
}