.welcome {
    position: relative;
    &__background-img {
        width: 100%;
        height: calc(100vh + 50px);
    }
    &-carousel-content {
        width: 80vw;
        height: calc(80vh - 50px);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(246, 248, 234, 0.7);
        padding: 20px 40px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        gap: 150px;
        align-items: center;
        &-intro {
            max-width: 60%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 30px;
            transition: 0.3s ease-in-out;
            h2 {
                text-transform: uppercase;
                font-size: 30px;
            }
            p {
                font-size: 22px;
            }
        }
        &__paralaxed-element {
            position: absolute;
            // top: 50vh;
            top: calc(50vh + 50px);
            left: 50%;
        }
    }
}