.welcome {
    position: relative;
    &__background-img {
        width: 100%;
        height: calc(100vh + 50px);
    }
    &-main-content {
        width: 80vw;
        height: calc(80vh - 50px);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(246, 248, 234, 0.7);
        padding: 20px 40px;
        border-radius: 3px;
        gap: 150px;
        @include flexFullCenter;
        &-intro {
            max-width: 60%;
            height: 80%;
            gap: 30px;
            transition: 0.3s ease-in-out;
            @include flexColumnCenter;
            h1 {
                text-transform: uppercase;
                font-size: 30px;
            }
            p {
                font-size: 22px;
            }
        }
        &__paralaxed-element {
            position: absolute;
            top: calc(50vh + 50px);
            left: 50%;
        }
    }
}