.welcome {
    position: relative;
    &__background-img {
        @media screen and (min-width: 768px) {
            height: calc(100vh + 50px);
        }
        @media screen and (max-width: 767px) {
            height: 1200px;
        }
        width: 100%;
    }
    &-main-content {
        @media screen and (min-width: 1025px) {
            width: 80vw;
            padding: 20px 40px;
            height: calc(80vh - 50px);
            gap: 150px;
            @include flexFullCenter; 
            flex-direction: row;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 80vw;
            min-height: 70vh;
        }
        @media screen and (max-width: 767px) {
            max-height: 1070px;
        }
        text-align: center;
        width: calc(90vw - 80px);
        min-height: 60vh;
        padding: 70px 40px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white-op7;
        border-radius: 3px;
        gap: 35px;
        @include flexColumnCenter;
        &-intro {
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 0 60px;
                gap: 45px;
            }
            @media screen and (min-width: 768px) {
                width: 65vw;
            }
            @media screen and (max-width: 767px) {
                width: 55vw;
            }
            height: 80%;
            gap: 30px;
            transition: 0.3s ease-in-out;
            @include flexColumnCenter;
            h1 {
                @media screen and (min-width: 1025px) {
                    width: 80%;
                }
                text-transform: uppercase;
            }
            p {
                @media screen and (min-width: 768px) {
                    font-size: 22px;
                }
                font-size: 18px;
            }
        }
        &__paralaxed-element {
            @media screen and (min-width: 1025px) {
                top: calc(50vh + 50px);
                
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                top: 60vh;
            }
            @media screen and (max-width: 767px) {
                top: 650px;
            }
            position: absolute;
            left: 50%;
        }
    }
}