.profile-contact-section__followers-division {
    background-color: $clr-1;
    padding: 30px;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    border: 2px solid $black-op2;
    border-radius: 10px;
    gap: 10px;
    @include flexColumn;
}
