.album-modal {
    width: 70vw !important;
    border: none !important;
    background-color: rgba(191, 192, 186, 1) !important;
    gap: 20px;
    @include flexColumnCenterX;
    &__header {
        width: 100%;
        @include flexBetween;
        h2 {
            text-transform: uppercase;
        }
        svg {
            color: $tertiary-color;
            font-size: 25px;
            transform: translate(100%, -100%);
            cursor: pointer;
        } 
    }
    
    &__pictures-displayer {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        img {
            width: 250px;
            height: 250px;
        }
    }
}
.btn-toggle-full-album-modal {
    background-color: transparent !important;
    border: none !important;
}