.footer {
    @media screen and (min-width: 1025px) {
        @include flexBetween;
        flex-direction: row;
        padding: 15px 30px 10px 20px;
        height: 100px;
    }
    width: calc(100% - 50px);
    position: relative;
    bottom: 0;
    background-color: $clr-3;
    text-transform: uppercase;
    color: $secondary-color;
    font-size: 12px;
    padding: 25px;
    @include flexColumnCenter;
    &__logo {
        gap: 5px;
        @include flexCenterY;
        svg {
            @media screen and (min-width: 768px) {
                font-size: 25px;
            }
            font-size: 35px;
        }
        h2 {
            @media screen and (min-width: 768px) {
                font-size: 12px;
            }
            font-family: "title-fonts";
            font-size: 18px;
        }
    }
    &__link-container {
        @media screen and (min-width: 1025px) {
            width: 45%;
        }
        @media screen and (min-width: 768px) {
            @include flexAround;
        }
        width: 80%;
        ul {
            gap: 5px;
            @include flexColumn;
            li {
                cursor: pointer;
                position: relative;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: translateX(5px);
                    // letter-spacing: 1px;
                    &::before {
                        transform: scaleY(1);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -10px;
                    height: 100%;
                    width: 2px;
                    background-color: $secondary-color;
                    transform: scaleY(0);
                    transition: 0.2s 0.1s ease-in-out;
                }
                a {
                    color: $secondary-color;
                }
            }
        }
    }
    
}