.globe-division {
    display: flex;
    align-items: center;
    height: 200px;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px dotted rgba(0, 0, 0, 0.3);
    &__globe {
        border-radius: 50%;
        border: 3px solid $primary-color;
        height: 180px;
        width: 180px;
        margin-right: 40px;
    }
    &__countries-list {
        color: $clr-2;
        height: 100%;
        width: 350px;
        overflow: scroll;
        &::-webkit-scrollbar {
            color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
        }
        li {
            text-transform: uppercase;
            font-style: italic;
            font-size: 13px;
            margin-left: 10px;
            width: calc(100% - 25px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 3px;
        }
        &__scroll-bar {
            position: absolute;
            height: 25px;
            width: 4px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            &-track {
                padding: 2px 0;
                height: calc(100% - 36px);
                width: 4px;
                position: relative;
                top: -13.5px;
                // left: -57px;
                background-color: transparent;
            }
        }
    }
}