.post {
    &-container {
        position: relative;
        width: calc(100% - 50px);
        border: 1px solid $black-low-op;
        border-radius: 5px;
        padding: 15px 25px;
        @include flexColumn;
    }
    &-header {
        width: 100%;
        @include flexBetweenCentered;
        &__user-side {
            @include flexRowReverseCentered;
            &__img-container {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                overflow: hidden;
                @include flexFullCenter;
            }
            img {
                width: 70px;
                height: 70px;
            }
        }
        &__data-side {
            color: $black-perf-mid-op;
            text-align: right;
        }
    }
    &-content {
        width: 100%;
        gap: 10px;
        @include flexColumnCenterX;
        img {
            width: 90%;
            max-height: 300px;
            border-radius: 15px;
        }
        &__file-edit {
            display: flex;
            gap: 10px;
            position: absolute;
            transform: translateY(5px);
            right: 8.5%;
            span, label {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: $secondary-color;
                @include standardTransi;
                @include flexFullCenter;
                &:hover {
                    transform: translateY(5px) scale(1.1);
                    background-color: $primary-color;
                    > svg {
                        color: $secondary-color;
                    }
                }
            }
            
            svg {
                @include standardTransi;
                color: $primary-color;
            }
        }
        textarea {
            width: 90%;
            resize: none;
            border-color: $black-perf-mid-op;
            border-radius: 5px;
        }
    }
    &__buttons-row {
        @include flexBetweenCentered;
        svg {
            @include standardTransi;
        }
        &__opinion-side {
            gap: 10px;
            @include flexCenterY;
        }
        &__likes {
            cursor: pointer;
            color: $primary-color;
            gap: 2px;
            @include flexCenterY;
            svg:hover {
                transform: scale(1.1) translateY(-3px);
            }
        }
        &__dislikes {
            cursor: pointer;
            color: $tertiary-color;
            gap: 2px;
            @include flexCenterY;
            svg:hover {
                transform: scale(0.9) translateY(3px);
            }
        }
    }
    &__delete-div {
        svg {
            z-index: 5;
            path {
                z-index: 1;
            }
        }
    }
}