.profile-infos-section {
    width: 90%;
    gap: 20px;
    @include flexColumn;
    &__content {
        width: 80%;
        position: relative;
        left: 10%;
        padding: 40px;
        background-color: $black-very-low-op;
        font-size: 20px;
        @include flexAround;
    }
    &__left-column {
        width: 45%;
        gap: 15px;
        @include flexColumn;
    }
    &__right-column {
        width: 45%;
        gap: 15px;
        @include flexColumn;
    }
    &__dream-trips-div {
        display: flex;
        gap: 20px;
        ul {
            position: relative;
        }
    }
}