.profile-albums-section {
    width: 100%;
    @include flexColumnCenter;
    button {
        width: 1031px;
        color: $clr-1;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        margin-bottom: 15px;
        &:hover {
            color: $primary-color;
            background-color: transparent;
            border: 1px solid $primary-color;
        }
    }
    &__album-container {
        margin: 15px;
        gap: 10px;
        padding: 20px 30px;
        width: 1031px;
        background-color: $black-very-low-op;
        border-radius: 3px;
        @include flexColumn;
        h3 {
            text-transform: capitalize;
        }
    }
    &__pictures-container {
        overflow: hidden;
        position: relative;
        display: flex;
        gap: 10px;
        img {
            width: 250px;
            height: 250px;
            border-radius: 4px;
        }
    }
}
.last-picture:hover {
    img {
        filter: blur(1px);
    }
    > div > .more-picture__div {
        transform: translateX(0%);
    }
}
.more-picture__div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    background-color: $black-perf-mid-op;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    @include flexFullCenter;
    svg {
        color: $white-op6;
        font-size: 40px;
    }
}