.profile-infos-section {
    width: 100%;
    @include flexColumn;
    &__content {
        width: 65%;
        position: relative;
        left: 17.5%;
        padding: 40px;
        background-color: $black-very-low-op;
        font-size: 20px;
        @include flexAround;
    }
    &__left-column {
        gap: 5px;
        @include flexColumn;
    }
    &__right-column {
        gap: 5px;
        @include flexColumn;
    }
    &__dream-trips-div {
        display: flex;
        gap: 20px;
        ul {
            position: relative;
        }
    }
}