.add-album-modal {
    z-index: 2600;
    position: absolute !important;
    width: 50vw !important;
    height: 85vh;
    border: none !important;
    border-radius: 10px;
    background-color: $clr-1 !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    @include flexAroundColumnCenter;
    &__header {
        width: 100%;
        @include flexBetweenCentered;
    }
    form {
        width: 85%;
    }
    &__same-row {
        width: 100%;
        @include flexBetween;
        > div {
            width: 40%;
            div {
                width: 100%;
            }
        }
    }
    &__pictures-displayer {
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 200px);
        @include flexBetween;
        &--absolute {
            position: absolute;
            top: 0;
            left: 0;
            flex-wrap: wrap;
            width: calc(100% + 3px);
            column-gap: calc((85% * 0.08) + 10px);
            row-gap: 0px !important;
            max-height: 100%;
            z-index: -1;
            @include flexFullStart;
            img {
                width: calc(28% - 1px);
                height: 120px;
                z-index: 2;
            }
        }
    }
    &__picture-area {
        width: 100%;
        height: 100%;
        background-color: $black-low-op;
        transition: 0.3s ease-in;
        cursor: pointer;
        @include flexFullCenter;
        &:hover {
            background-color: transparent;
            > .add-album-modal__camera-icon {
                opacity: 0;
            }
            > .add-album-modal__plus-icon {
                opacity: 1;
            }
        }
        &-label {
            width: 28%;
            height: 120px;  
        }
        svg {
            position: absolute;
            font-size: 60px;
            color: $black-mid-op;
            z-index: -2;
        }
    }
    &__plus-icon {
        color: $black-mid-op !important;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    &__camera-icon {
        transition: 0.2s ease-in;
    }
}