.profile-trips-section {
    width: 80%;
    @include flexBetween;
    &__trip-division {
        padding: 10px 15px;
        position: relative;
        margin: 15px;
        gap: 8px;
        background-color: $black-low-op;
        @include flexColumnCenterY;
        h3 {
            margin-bottom: 5px;
        }
        p, span {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $clr-2;
                left: -5px;
                top: 7.5px;
            }
        }
    }
}