.extra-data-form {
    position: relative;
    height: 100%;
    width: 90%;
    left: 5%;
    @include flexAroundColumnCenter;
    &__fields-displayer {
        height: 75%;
        width: 100%;
        @include flexRowReverseBetween;
        &__left-column {
            gap: 10px;
            width: 45%;
            @include flexColumn;
        }
    }
    &__trips-area {
        width: 45%;
        gap: 10px;
        @include flexColumn;
        button {
            width: 100%;
            border: 1px solid $black-very-low-op;
            color: $secondary-color;
            background-color: $black-mid-op;
            &:hover {
                border: 1px solid $black-very-low-op;
                color: $secondary-color;
                background-color: $black-almost-strong-op;
            }
            svg {
                margin-left: 10px;
            }
        }
    }
    &__trips-displayer {
        position: relative;
        border: 1px solid $black-mid-op;
        border-radius: 4px;
        height: calc(100% - 46.5px);
        p {
            @include translateToCenter
        }
    }
    &__previous-trip-album {
        gap: 5px;
        @include flexStart;
        img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            transition: 0.5s ease-in-out;
            &:hover {
                transform: scale(2.5);
            }
        }
    }
    &__pseudo-division {
        position: relative;
        div {
            width: 100%;
            fieldset {
                border-color: $black-mid-op !important;
            }
        }
        svg {
            left: -30px;
        }
    }
    &__description-division {
        width: 100%;
        position: relative;
        div {
            width: 100%;
        }
        svg {
            left: -30px;
        }
    }
    &__text-area {
        max-height: calc(100% - 187px);
        fieldset {
            border-color: $black-mid-op !important;
        }  
    }
    &__dream-trips-division {
        height: calc(100% - 175.5px);
        position: relative;
        &__icons-container {
            svg {
                left: -30px;
            }
        }
    }
    &__input-destination {
        height: 36.5px;
        position: relative;
        > div {
            width: 100%;
            margin: 0;
            height: 100%;
            label {
                transform: translate(14px, 6px) scale(1);
            }
            > div {
                height: 100%;
            }
        }
        fieldset {
            border: 1px solid $black-mid-op;
        }
    } 
    ul#countries-list {
        position: relative;  
        padding-top: 10px;
        gap: 10px;
        position: relative;
        @include flexColumnStart;
        li {
            padding: 2px;
            position: relative;
            margin-left: 35px;
            opacity: 0;
            animation: liAnim 0.3s 0.3s ease-in-out forwards;
            // width: calc(100% - 25px);
            &::before {
                content: "\2715";
                position: absolute;
                display: block;
                top: 1px;
                right: 27px;
                color: $tertiary-color;
                animation: liBeforeAnim 0.4s ease-in-out forwards;
            }
            &::after {
                content: "";
                position: absolute;
                left: -20px;
                top: 0;
                width: 100%;
                height: 100%;
                border: 1px solid $black-mid-op;
                border-radius: 20px;
            }
        }
        p {
            @include translateToCenter;
        }
    }
}
.countries-list__division {
    margin-top: 10px;
    position: relative;
    height: calc(100% - 48px);
    overflow: auto;
    border: 1px solid $black-mid-op;
    border-radius: 4px;
    &::-webkit-scrollbar {
        color: $black-almost-strong-op;
        width: 100%;
        height: 100%;
    }
}
.text-centralizer {
    position: relative;
    top: -10px;
    width: 100%;
    height: calc(100% - 10px);
    @include flexFullCenter;
}
.last-step-icon {
    position: absolute;
    top: 20px;
    // opacity: 0;
    transition: 0.3s ease-in-out;
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    max-height: 100%;
    textarea {
        height: 100% !important;
    }
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(14px, -9px) scale(0.75) !important;
}