// #album-container {
//     img{
//         height: 60px;
//         width: 60px;
//     }
// }
.css-105qr5e {
    width: 80vw !important;
    height: 80vh !important;
    background-color: $secondary-color !important;
    // border: 4px solid $primary-color !important;
    border: none !important;
    border-radius: 8px;
    z-index: 10;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}
.trip-modal {
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
            margin-left: 25px;
        }
        svg {
            cursor: pointer;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.38);
            transition: 0.2s ease-in-out;
            &:hover {
                color: $tertiary-color;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-around;
        height: calc(80% - 105.5px);
        width: 100%;
        color: $clr-2;
        label {
            color: $clr-2 !important;
        }
        fieldset {
            border-color: rgba(0, 0, 0, 0.9) !important; 
        }
    }
    &__inputs-area {
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        div {
            width: 100%;
        }
    }
    &__description-area {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 43%;
        > div {
            margin-top: 15px;
            height: calc(100% - 50px);
            > div {
                height: 100%;
            }
        }
    }
    &__buttons-row {
        width: 80%;
        display: flex;
        justify-content: space-between;
        height: 70px;
        button {
            width: 20%;
            border: 2px solid $primary-color !important;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 2px;
            &:first-child {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__album-container {
        // width: 100%;
        height: unset !important;
    }    
    &-album {
        margin: 5px 0;
        height: unset !important;
        padding: 5px 25px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        &__pictures-container {
            margin-left: 15px;
            height: unset !important;
            display: flex;
            justify-content: flex-start;
            gap: 8px;
        }
        img {
            height: 60px;
            width: 50px;
        }
        h4 {
            color: $secondary-color;
            margin-left: 20px;
            position: relative;
            &::before {
                content: "\2708";
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                color: $secondary-color;
            }
        }
    }

}
.child-modal {
    z-index: 2600;
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw !important;
    height: 85vh;
    // border: 5px solid $clr-2 !important;
    border: none !important;
    border-radius: 10px;
    background-color: rgb(151 160 160) !important;
    backdrop-filter: blur(10px);
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $secondary-color;
        svg {
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                color:rgba(0, 0, 0, 0.5);
            }
        }
    }
    h3, 
    p,
    button {
        text-transform: uppercase;
        color: $secondary-color;
    }
    button {
        border-color: $secondary-color;
    }
    &__same-row {
        display: flex;
        justify-content: space-between;
        width: 85%;
    }
    &__pictures-displayer {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        height: calc(100% - 200px);
        &--absolute {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            width: calc(100% + 3px);
            column-gap: calc((85% * 0.08) + 10px);
            row-gap: 0px !important;
            max-height: 100%;
            z-index: -1;
            img {
                margin-bottom: calc((25% - 120px) / 3 + 1.5px);
                width: calc(28% - 1px);
                height: 120px;
                z-index: 2;
            }
        }
    }
    &__picture-area {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in;
        cursor: pointer;
        // z-index: 3;
        &:hover {
            background-color: transparent;
            > .child-modal__camera-icon {
                opacity: 0;
            }
            > .child-modal__plus-icon {
                opacity: 1;
            }
        }
        &-label {
            width: 28%;
            height: 120px;
            
        }
        svg {
            position: absolute;
            font-size: 60px;
            color: rgba(246, 248, 234, 0.5);
            z-index: -2;
        }
    }
    &__plus-icon {
        color: $secondary-color !important;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    &__camera-icon {
        transition: 0.2s ease-in;
    }

}
.css-79ws1d-MuiModal-root {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}
#signup-album-creation-btn {
    background-color: $primary-color;
    color: $secondary-color;
    padding-left: 30px;
    padding-right: 20px;
    &:hover {
        color: $primary-color;
        background-color: transparent;
    }
}

