
.css-105qr5e {
    @media screen and (min-width: 1025px) {
        width: 70vw !important;
        height: 70vh !important;   
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        height: 75vh !important;
    }
    @media screen and (max-width: 1024px) {
        overflow-y: scroll;
    }

    width: calc(90vw - 64px) !important;
    max-height: 90vh !important;   
    background-color: $clr-1 !important;
    border: none !important;
    border-radius: 8px;
    z-index: 10;
    backdrop-filter: blur(4px);
    @include flexColumnCenterX;
    gap: 25px;
    justify-content: space-between;   
}
.trip-modal {
    &__header {
        width: 100%;
        @include flexBetween;
        h3 {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: left;
            margin-left: 25px;
        }
        svg {
            cursor: pointer;
            font-size: 25px;
            color: $black-op5;
            @include standardTransi;
            &:hover {
                color: $tertiary-color;
            }
        }
    }
    &__content {
        @media screen and (min-width: 1024px) {
            height: calc(80% - 105.5px);
            @include flexAround;
            flex-direction: row;
        }
        height: 100%;
        width: 100%;
        color: $clr-2;
        @include flexColumnCenter;
        label {
            color: $clr-2 !important;
        }
        fieldset {
            border-color: $black-op8 !important; 
        }
    }
    &__inputs-area {
        @media screen and (min-width: 1024px) {
            width: 43%;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            height: 70%;
        }
        width: 100%;
        @include flexColumnBetween;
        div {
            width: 100%;
        }
    }
    &__description-area {
        @media screen and (min-width: 1024px) {
            width: 43%;
            height: calc(100% - 36px);
        }
        width: 100%;
        @include flexColumnBetween;
        > div {
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                height: 250px;
            }
            @media screen and (max-width: 1024px) {
                position: relative;
                width: 100%;
                margin-left: 8px;
            }
            height: calc(100% - 50px);
            margin-top: 15px;
            > div {
                height: 100%;
            }
        }
    }
    &__buttons-row {
        width: 80%;
        height: 70px;
        @include flexFullCenter;
        button {
            @media screen and (min-width: 768px) {
                width: 45%;
            }
            width: 100%;
            border: 2px solid $primary-color !important;
            color: $primary-color;
            font-weight: 600;
            letter-spacing: 2px;
            height: calc(100% - 4px);
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }
    &__album-container {
        height: unset !important;
    }    
    &-album {
        margin: 5px 0;
        height: unset !important;
        padding: 5px 25px;
        background-color: $black-op1;
        border: 2px solid $black-op5;
        border-radius: 10px;
        position: relative;
        &__pictures-container {
            width: 100%;
            overflow-x: auto;
            margin-left: 15px;
            height: unset !important;
            gap: 8px;
            @include flexStart;
        }
        img {
            height: 60px;
            width: 50px;
        }
        h4 {
            color: $black-op8;
            margin-left: 20px;
            position: relative;
            &::before {
                content: "\2708";
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                color: $black-op8;
            }
        }
    }

}
.child-modal {
    @media screen and (min-width: 1025px) {
        width: 50vw !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 80vw !important;
    }
    @media screen and (min-width: 768px) {
        justify-content: space-around;
    }
    @media screen and (max-width: 767px) {
        width: 75vw !important;
        overflow-y: scroll;
        justify-content: flex-start;
        gap: 25px;
    }
    z-index: 2600;
    position: absolute !important;
    height: 85vh;
    border: none !important;
    border-radius: 10px;
    background-color: $clr-1 !important;
    backdrop-filter: blur(10px);
    @include flexColumnCenterX;
    &__header {
        width: 100%;
        color: $primary-color;
        @include flexBetween;
        svg {
            cursor: pointer;
            @include standardTransi;
            &:hover {
                color:$black-op5;
            }
        }
    }
    h4, 
    p,
    button {
        text-transform: uppercase;
        color: $primary-color;
    }
    button {
        border: 2px solid $primary-color;
        @media screen and (min-width: 768px) {
            width: calc(85% - 4px);
        }
        @media screen and (max-width: 767px) {
            width: calc(90% - 4px);
        }
    }
    &__same-row {
        width: 85%;
        @include flexBetween;
    }
    &__pictures-displayer {
        @media screen and (min-width: 1025px) {
            @include flexBetween;
            height: calc(100% - 200px);
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            gap: 15px;
            height: 725px;
            @include flexFullStart;
        }
        @media screen and (max-width: 767px) {
            @include flexColumnCenter;
            width: 90%;
            gap: 15px;
            height: 2220px;
        }
        position: relative;
        flex-wrap: wrap;
        width: 85%;
        &--absolute {
            @media screen and (min-width: 1025px) {
                column-gap: calc((85% * 0.08) + 10px);
                row-gap: 0px !important;
                width: calc(100% + 3px);
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                gap: 15px;
                width: 100%;
            }
            @media screen and (max-width: 767px) {
                @include flexColumnCenter;
                justify-content: flex-start;
                width: 100%;
                gap: 15px;
                height: 2220px;
            }
            position: absolute;
            top: 0;
            left: 0;
            flex-wrap: wrap;
            max-height: 100%;
            z-index: -1;
            @include flexFullStart;
            img {
                @media screen and (min-width: 1025px) {                    
                    margin-bottom: calc((25% - 120px) / 3 + 1.5px);
                    width: calc(28% - 1px);
                    height: 120px;
                }
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    width: calc(33% - 16px);
                    height: 170px;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                    height: 170px;
                }
                z-index: 2;
            }
        }
    }
    &__picture-area {
        width: 100%;
        height: 100%;
        background-color: $black-op1;
        transition: 0.3s ease-in;
        cursor: pointer;
        @include flexFullCenter;
        &:hover {
            background-color: transparent;
            > .child-modal__camera-icon {
                opacity: 0;
            }
            > .child-modal__plus-icon {
                opacity: 1;
            }
        }
        &-label {
            @media screen and (min-width: 1025px) {                
                width: 28%;
                height: 120px;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: calc(33% - 16px);
                height: 170px;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
                height: 170px;
            }
            
        }
        svg {
            position: absolute;
            font-size: 60px;
            color: $black-op3;
            z-index: -2;
        }
    }
    &__plus-icon {
        color: $black-op8 !important;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    &__camera-icon {
        @include standardTransi;
    }
    .gradient-container {
        @media screen and (min-width: 1025px) {
            width: 85%;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        text-transform: uppercase;
        color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
    }
}
.css-79ws1d-MuiModal-root {
    background-color: $black-op1;
    backdrop-filter: blur(2px);
}
#signup-album-creation-btn {
    background-color: $primary-color;
    color: $secondary-color;
    padding-left: 30px;
    padding-right: 20px;
    &:hover {
        color: $primary-color;
        background-color: transparent;
    }
}

