.carousel-slider {
    height: 100vh;
    position: fixed;
    top: 0px;
}
.control-arrow {
    opacity: 0 !important;
}
.carousel-status {
    display: none;
}
.thumbs-wrapper {
    display: none;
}
.control-dots {
    display: none;
}
.carousel img {
    height: 100%;
}